<!DOCTYPE html>
<html lang="vi">

    <head>
        <title>DASHBOARD</title>
        <meta name="viewport" content="width=device-width; initial-scale=1.0">
        <meta charset="utf-8">
        {% load static %}
        <link rel="stylesheet" href= "{% static 'dashboard_style.css' %}">
        <link rel="icon" type="image/x-icon" href="favicon.ico">
    </head>

    <body>
 
        <!-- Create a dashboard -->
        <div class="container1">
            <h2> <i>QUANTRIVIEN</i> </h2>
            <button type="button" onclick="">ĐỔI MẬT KHẨU</button>
            <ul class="container1_list">
                <li> <a href="#section1" style="padding-left: 10%;padding-right: 21.7%;">XEM DANH SÁCH</a> </li>
                <li> <a href="#section2" style="padding-left: 10%;padding-right: 44.8%;">XEM PHIẾU</a> </li>
                <li> <a href="#section3" style="padding-left: 10%;padding-right: 32.5%;">XEM BÁO CÁO</a> </li>
                <li> <a href="#section4" style="padding-left: 10%;padding-right: 49.9%;">QUY ĐỊNH</a> </li>
                <br><br><br><br><br><br><br><br><br><br><br>
                <li> <a href="#section5" style="padding-left: 10%;padding-right: 54.6%;">LÀM MỚI</a> </li>
                <li> <a href="login.html" style="padding-left: 10%;padding-right: 42%;">ĐĂNG XUẤT</a> </li>
            </ul>
        </div>

        <!-- Create a section for title -->
        <div class="container2">
            <h2> <i>QUẢN LÝ CÁC ĐẠI LÝ</i> </h2>
            <div class="container2_form">
                <form action="">
                    <label for="lists">CHỌN DANH SÁCH</label>
                    <select name="lists" id="lists">
                        <option>ĐẠI LÝ</option>
                        <option>LOẠI ĐẠI LÝ</option>
                        <option>QUẬN</option>
                        <option>MẶT HÀNG</option>
                        <option>ĐƠN VỊ TÍNH</option>
                    </select>
                </form>
            </div>
            <div class="container2_form_1">
                <form>
                    <label for="finding">TÌM KIẾM</label>
                    <input type="text" id="finding" name="finding">
                </form>
            </div>
        </div>

        <!-- Create a container for table list -->
        <div class="container3">
            <h2> <i>BẢNG DỮ LIỆU</i> </h2>
            <table class="table">
                <thread>
                    <tr>
                        <th>MÃ ĐẠI LÝ</th>
                        <th>TÊN ĐẠI LÝ</th>
                        <th>MÃ LOẠI ĐẠI LÝ</th>
                        <th>SỐ ĐIỆN THOẠI</th>
                        <th>ĐỊA CHỈ</th>
                        <th>MÃ QUẬN</th>
                        <th>NGÀY TIẾP NHẬN</th>
                        <th>SỐ TIỀN NỢ</th>
                    </tr>
                </thread>
            </table>
        </div>

        <!-- Create a section for button -->
        <div class="container4">
            <button tupe="button" onclick="">THÊM</button>
            <button type="button" onclick="">XÓA</button>
            <button type="button" onclick="">CẬP NHẬT</button>
        </div>

    </body>

</html>
