<!DOCTYPE html>
<head>
    <title>LogIn Page</title>
    {% load static %}
    <link rel="stylesheet" href= "{% static 'login_style.css' %}">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>
    {% include 'messages.html' %}
    <form action="" method="POST">
        {% csrf_token %}
        <div class="form">
            <p>Login</p>
            <label for="usrname">Username</label><br>
            <input type="text" id="usrname" name="Uname" placeholder="username"><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" name="Pass" placeholder="password"><br>
            <button type="submit">LogIn</button>
            <p> <i>Not register?</i> <a href="register.html">Create an account</a></p>
        </div>
    </form>
</body>
