{% extends 'dashboard.html' %}
{% load static %}

{% block content %}
<table id="reg_table">
    <thead>
        <tr>
            <th>SỐ ĐẠI LÝ TỐI ĐA MỖI QUẬN</th>
            <th>TỶ LỆ ĐƠN GIÁ BÁN</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% if regs %}
        {% for instance in regs %}
        <tr>
            <td>{{instance.sodailytoidamoiquan}}</td>
            <td>{{instance.tiledongiaban}}</td>
            <td> <button class="btn btn-success" onclick="editReg('{{instance.sodailytoidamoiquan}}', '{{instance.tiledongiaban}}')" data-toggle="modal" data-target="#REGModalUpdate" data-whatever="">EDIT</button> </td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
</table>

<!--MODAL FOR UPDATING-->
<div class="modal fade" id="REGModalUpdate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">CẬP NHẬT BẢNG THAM SỐ</h4>
            </div>
            <form id="REG_Update" action="" method="get">
                <div class="modal-body">
                    <label for="REG_dltoidaFormUpdate">SỐ ĐẠI LÝ TỐI ĐA QUẬN</label> <br>
                    <input type="text" name="REG_dltoidaFormUpdate" id="REG_dltoidaFormUpdate"> <br>
                    <label for="REG_tiledgFormUpdate">TỶ LỆ ĐƠN GIÁ BÁN</label> <br>
                    <input type="text" name="REG_tiledgFormUpdate" id="REG_tiledgFormUpdate"> <br>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">SAVE CHANGES</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script>
function editReg(dlmax, tile)
{
    $('#REG_dltoidaFormUpdate').val(dlmax);
    $('#REG_tiledgFormUpdate').val(tile);
}
$('#REG_Update').submit(function(){
    let sodlmax = $('input[name="REG_dltoidaFormUpdate"]').val().trim();
    let tldgban = $('input[name="REG_tiledgFormUpdate"]').val().trim();
    if(sodlmax && tldgban)
    {
        $.ajax({
            url: "{% url 'regulations_update' %}",
            data: {
                'sodlmax': sodlmax,
                'tldgban': tldgban
            },
            datatype: 'json',
            success: function(data)
            {
                if(data.updated)
                {
                    window.location.href = "{% url 'regulations_page' %}"
                }
            }
        });
    }
    else
    {
        alert("GÍA TRỊ KHÔNG HỢP LỆ.");
    }
    $('REGModalUpdate').modal('hide');
    return false;
});
</script>
{% endblock %}
